TG_API_ID=你的api_id
TG_API_HASH=你的api_hash
TG_SESSION=tg_bark
BARK_ENABLED=true
BARK_KEY=你的bark_key
BARK_SERVER=https://api.day.app
BARK_ICON=https://cdn.nodeimage.com/i/zjy7G6Nv4ENdd927CAN8D0AY5WXDG2iw.webp
SC3_ENABLED=true
SC3_SENDKEY=你的server酱3_sendkey
MY_USERNAME=你的Telegram用户名
